.danhSachTaiKhoan {
  &-actions {
    margin: 30px 0;
    input {
      width: 40%;

      &::placeholder {
        font-weight: 300;
      }
    }
  }
  &.dark {
    input {
      background-color: lighten($color: $dark-bg, $amount: 5%);
      border: 1px solid lighten($color: $dark-border, $amount: 2%);
      &::placeholder {
        color: $dark-theme-text;
      }
      color: $dark-theme-text;
    }
  }
}
