.addMovie {
  background-color: lighten($color: $light-bg, $amount: 5%);
  padding: 40px 20px;
  border-radius: 5px;
  form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    input {
      //border-color: #999;
      border-radius: 50px;
    }
  }
  &.dark {
    background-color: lighten($color: $dark-bg, $amount: 3%);
  }
}
