.sideBar-list-item {
  margin: 30px 0;
  width: 100%;
  padding: 0 10px;
  cursor: pointer;
  span {
    font-size: 14px;
  }
  .item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
  }
  .item-content {
    margin: 10px 0;
    padding-left: 10px;
    transition: all 0.4s linear;
    height: 0;
    visibility: hidden;
    opacity: 0;
    .item-content-item {
      margin: 20px 0;
      font-size: 14px;
      text-decoration: none;
      color: #f4f4f4;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-radius: 5px;
      .icon {
      }
      &.active {
        background-color: lighten($color: $primary-color, $amount: 5%);
      }
    }
    &.active {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
  }
}
