.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  .header-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .menuBar {
      margin-right: 25px;
      cursor: pointer;
    }
    h2 {
      margin: 0;
      font-weight: 300;
      .link {
        color: $light-theme-text;
      }
    }
  }
  .header-actions {
    .toggle-icon {
      cursor: pointer;
    }
  }
}
