.danhSachTaiKhoanTable {
  background-color: lighten($color: $dark-bg, $amount: 5%);
  .tableHead {
    .tableRow {
      color: red !important;
    }
  }
  &.dark {
    background-color: $dark-bg;
  }
}
