.sideBar {
  &.sideBar_active {
    transform: translateX(0);
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  background-color: $primary-color;
  transform: translateX(-100%);
  color: #f4f4f4;
  font-weight: 300;
  transition: 0.3s linear !important;
  .closeBar {
    cursor: pointer;
  }
  .sideBar-list {
    width: 100%;
  }
}
