.dashBoard {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background-color: $light-bg;
  color: $light-theme-text;
  transition: 0.2s linear;
  margin: 0 !important;
  padding-bottom: 50px;
  .main {
    width: 90%;
    margin: 0 auto;
  }

  &.dark {
    background-color: $dark-bg;
    color: $dark-theme-text;
    input,
    textarea {
      background-color: lighten($color: $dark-bg, $amount: 5%);
      border: 1px solid lighten($color: $dark-border, $amount: 2%);
      &::placeholder {
        color: $dark-theme-text;
      }
      color: $dark-theme-text;
    }
  }

  @include MediaQuery($xs) {
    padding-left: 0;
  }
}
