%button {
  border: none;
  cursor: pointer;
  outline: none;
  font-family: $font-stack;
  border-radius: 5px;
}

.btn_circle {
  border-radius: 100%;
}

.btn_sm {
  @extend %button;
  padding: 7px 12px;
  font-size: 13px;
}

.btn_md {
  @extend %button;
  padding: 10px 18px;
  font-size: 14px;
}

.btn_lg {
  @extend %button;
  padding: 12px 22px;
  font-size: 16px;
}

.btn_primary {
  background-color: $primary-color;
  color: #fff;
}
