input,
textarea {
  border-radius: 5px;
  border: 1px solid lighten($color: #ccc, $amount: 10%);
  padding: 18px;
  font-family: $font-stack;
  outline: none;
  transition: 0.2s linear;
  // &:focus {
  //   box-shadow: 0px 2px 1px -1px rgba($color: $blue, $alpha: 0.5),
  //     0px 1px 1px 0px rgba($color: $blue, $alpha: 0.5),
  //     0px 1px 3px 0px rgba($color: $blue, $alpha: 0.5);
  // }
  &.error {
    border-color: $error-color !important;
  }
}
