@import "./table.scss";
@import "./button.scss";
@import "./input.scss";
@import "./shadow.scss";
@import "./alert.scss";
@import "./form.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  overflow-x: hidden;
}

.table-wrapper {
  overflow-x: auto;
}

.link {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.d-flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}
