$font-stack: "Roboto", sans-serif;

$light-bg: #f2f3f3;
$light-theme-text: #6c757d;

$dark-bg: #141c35;
$dark-theme-text: #767c94;
$dark-border: #444964;

//$primary-color: #8444d3;
$primary-color: #e43e59;
$success-color: #2dce89;
$warning-color: #ff8d72;
$error-color: #e43e59;
$info-color: #4259fa;

$blue: #4259fa;
